// Top Bar
$topBarBlack: hsl(255, 0%, 0%);

// General
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$offwhite: hsl(0, 0%, 71%);

$bgBlue1: rgba(1, 14, 196, 0.836);

$brandOrange: rgba(244, 159, 51, 1); //hsl(39, 85%, 50%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px

// Image Sizes
$logo-sm: 10rem; // 120px


// Bootstrap
$theme-colors: (
    "dark": $topBarBlack
);

$theme-colors:map-merge($theme-colors, (
    "dark": $topBarBlack
));

